.box {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.dot {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  left: -10px;
  border-radius: 50%;
  background-color: orange;
}
